<launch>
  <arg name="input_topic" default="/camera/depth_registered/points" />
  <arg name="output_topic" default="/filtered_pc" />
  <arg name="workspace_name" default="staubli" />

  <rosparam command="delete" param="xpassthrough"/>
  <rosparam command="delete" param="ypassthrough"/>
  <rosparam command="delete" param="zpassthrough"/>
  <rosparam command="load" file="$(find pc_filter)/configs/$(arg workspace_name).workspace.yaml"/>
 <!-- Launch nodelet manager -->
  <node pkg="nodelet" type="nodelet" name="pcl_manager"  args="manager" output="screen"/>
  <!-- Run a passthrough filter to restrict to input box -->

  <node pkg="nodelet" type="nodelet" name="xpassthrough" args="load pcl/PassThrough pcl_manager" output="screen">
       <remap from="~input" to="$(arg input_topic)" />
       <remap from="~output" to="$(arg input_topic)_xfiltered" />
     </node>  


     <node pkg="nodelet" type="nodelet" name="ypassthrough" args="load pcl/PassThrough pcl_manager" output="screen">
       <remap from="~input" to="$(arg input_topic)_xfiltered" />
       <remap from="~output" to="$(arg input_topic)_xyfiltered" />

     </node>  

     <node pkg="nodelet" type="nodelet" name="zpassthrough" args="load pcl/PassThrough pcl_manager" output="screen">
       <remap from="~input" to="$(arg input_topic)_xyfiltered" />
       <remap from="~output" to="$(arg output_topic)" />
     </node>  
</launch> 
